/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

/* ============ custom scroll bar add ==================== */
/* CSS for thin scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #b47000 lightgray; /* Thumb and Track colors */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b47000; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: lightgray; /* Track color */
}

